<table datatable>
    <thead>
        <tr>
            <th colspan="5">
                <div class="row">
                    <div class="col-md-9">
                        Filter by Description:
                        <input class="form-control" [(ngModel)]="filterQuery" />
                    </div>
                    <div class="col-md-3">
                        <label class="label-control">Rows on page</label>
                        <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="15">15</option>
                        </select>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let products of dt.data">
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-md-3">
                    <a (click)="onSelect(products)" style="cursor:pointer;">
                        <img class="img-responsive" src="{{serverPath}}/image/products/{{products.id}}.png" />
                    </a>
                </div>
                <div class="col-md-9">
                    <h4 (click)="onSelect(products)" style="margin-top:20px; cursor:pointer;">{{products.title}}
                    </h4>
                    <p>{{products.category}}</p>
                    <a (click)="onSelect(products)" style="cursor:pointer;"><span>{{products.purchaseyear | uppercase}}</span></a>
                    <span>{{products.price}}</span>
                    <br />
                    <a (click)="onSelect(products)"><span style="font-size: x-large; color:#db3208">₹<span>{{products.ourPrice | number : '1.2-2'}}</span></span></a>
                </div>
            </div>
        </tr>
    </tbody>
  </table>